:root {
  --amplify-primary-color: #4764e3;
  //--amplify-secondary-color: #fff;
  --amplify-primary-tint: #274dfa;
  --amplify-primary-shade: #274dfa;
  --amplify-font-family: 'Open Sans', sans-serif;
  --amplify-background-color: rgba(236, 235, 249, 0.5) !important;
  //--amplify-secondary-contrast: rgba(0, 0, 0, 0);
  //--container-height: 300px;
}